(images/menu/blueprints_all_active.svg, images/menu/blueprints_all_inactive.svg, images/menu/blueprints_missing_active.svg, images/menu/blueprints_missing_inactive.svg, images/menu/blueprints_owned_active.svg, images/menu/blueprints_owned_inactive.svg, index.html)